@{
    ViewData["Title"] = "Home Page";
}


<div class="menu-area text-center stack-top">
    <h1 class="display-4" id="headerText">Choose a League</h1>
    <ul>
        <li>
            <a href="#" id="all">Little League</a>  
             <ul class="dropdown">
                @*<li><a href="#" id="littlejungleremix">Little Jungle Cup Remix</a></li>*@
                @*<li><a href="#" id="halloween">Halloween Cup</a></li>*@ 
                @*<li><a href="#" id="mega">Mega LL</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League LL</a></li>*@
                 @*<li><a href="#" id="cliffhanger">CliffHanger LL</a></li>*@
                 @*<li><a href="#" id="championship">Championship Series LL</a></li>*@
                 @*<li><a href="#" id="littleremix">Little Cup Remix</a></li>*@
                 @*<li><a href="#" id="element">Element Cup</a></li>*@
                 @*<li><a href="#" id="premierclassic">Little League Premier Classic</a></li>*@
            </ul>         
        </li>
        <li>
            <a href="#" id="all">Great League</a>
            <ul class="dropdown">
                <li><a href="#" id="mega">Mega GL</a></li>
                <li><a href="#" id="remix">Great League Remix</a></li>
                @*<li><a href="#" id="willpower">WillPower Cup</a></li>*@
                @*<li><a href="#" id="halloween">Halloween Cup GL</a></li>*@
                @*<li><a href="#" id="psychic">Psychic Cup</a></li>*@
                @*<li><a href="#" id="evolution">Evolution Cup</a></li>*@
               @* <li><a href="#" id="retro">Retro Cup</a></li>*@
                @*<li><a href="#" id="halloween">Halloween Cup</a></li>*@
                @*<li><a href="#" id="championship">Championship Series GL</a></li>*@
                @*<li><a href="#" id="cliffhanger">CliffHanger GL</a></li>*@
                @*<li><a href="#" id="hisui">Hisui Cup</a></li>*@
                @*<li><a href="#" id="premierclassic">Great League Premier Classic</a></li>*@
                @*<li><a href="#" id="kanto">Kanto Cup</a></li>*@
                @*<li><a href="#" id="summer">Summer Cup</a></li>
                <li><a href="#" id="fighting">Fighting Cup</a></li>*@
                @*<li><a href="#" id="flying">Flying Cup</a></li>*@
                @*<li><a href="#" id="fossil">Fossil Cup</a></li>*@
                @*<li><a href="#" id="river">River Cup</a></li>*@
                @*<li><a href="#" id="colony">Colony Cup</a></li>*@
                @*<li><a href="#" id="alchemy">Alchemy Cup</a></li>*@
                @*<li><a href="#" id="forged">Forged Cup</a></li>*@
                @*<li><a href="#" id="firefly">Firefly Cup</a></li>*@
                @*<li><a href="#" id="gobattleleague">Go Battle League GL</a></li>*@
                @*<li><a href="#" id="love">Love Cup</a></li>*@
                @*<li><a href="#" id="sinnoh">Sinnoh Cup</a></li>*@
                @*<li><a href="#" id="holiday">Holiday Cup</a></li>*@
                @*<li>Amelya</li>*@
                @*<li>Walter</li>*@
            </ul>
        </li>
        <li>
            <a href="#" id="all">Ultra League</a>
            <ul class="dropdown">
                <li><a href="#" id="holiday">Ultra League Holiday Cup</a></li>
                <li><a href="#" id="remix">Ultra League Remix</a></li>
                <li><a href="#" id="weather">Weather Cup UL</a></li>
                @*<li><a href="#" id="halloween">Halloween Cup UL</a></li>*@
                @*<li><a href="#" id="cliffhanger">CliffHanger UL</a></li>*@
                 @*<li><a href="#" id="championship">Championship Series UL</a></li>*@
                @*<li><a href="#" id="premier">Ultra League Premier</a></li>   *@  
                @*<li><a href="#" id="mega">Mega UL</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League UL</a></li>*@
                @*<li><a href="#" id="premierclassic">Ultra League Premier Classic</a></li>*@
            </ul>
        </li>
        <li>
            <a href="#" id="all">Master League</a>
            <ul class="dropdown">
                <li><a href="#" id="premierclassic">Master Premier Classic</a></li>
                <li><a href="#" id="mega">Mega ML</a></li>
                <li><a href="#" id="classic">Master League Classic</a></li>             
                 @*<li><a href="#" id="cliffhanger">CliffHanger ML</a></li>*@
                 @*<li><a href="#" id="championship">Championship Series ML</a></li>*@
                @*<li><a href="#" id="premier">Master League Premier</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League ML</a></li>*@
            </ul>
        </li>
    </ul>
</div>
<div class="GoBattleLeagueSeasonDetails text-center"">
    <input type="button" id="BattleLeagueSeasonDetails" class="btn btn-outline-dark btn-sm showBattleLeagueSchedule" value="See Go Battle League Season 12 Schedule" />
</div>

@*<a href="#" id="GFG" class="shinyButton Gold"><span>Shiny Button</span></a>*@
<div id="openBattleLeagueSeasonDetails" style="display: none;">
    <strong>Pokemon Go Battle League Season 13: Mythical Wishes</strong>
    <br/>
    <br/>
    <strong>December 1 – December 8: Great League & <span style="color:brown">Great League Remix</span></strong>
    <br />
    <strong>December 8 – December 15: Great League & <span style="color:brown">Fighting Cup: Great League Edition Remix</span></strong>
    <br/>
    <strong>December 15 – December 22: Ultra League & <span style="color:brown">Ultra Premier Classic</span></strong>
    <br/>
    <strong>December 22 – December 29: Ultra League & Holiday Cup - Great League Edition</strong>
    <br />
    <strong>December 29 – January 5: Master League & Holiday Cup - Ultra League Edition</strong>
    <br/>
    <strong>January 5 – January 12: Master League & <span style="color:brown">Master Premier Classic </span></strong>
    <br/>
    <strong>January 12 – January 19: Great League & Ultra League & Master League</strong>
    <br/>
    <strong>January 19 – January 26: Great League & <span style="color:brown">Weather Cup - Great League Edition</span></strong>
    <br/>
    <strong>January 26 – February 2: Great League & <span style="color:brown">Electric Cup - Great League Edition</span></strong>
    <br/>
    <strong>February 2 – February 9: Ultra League & <span style="color:brown">Ultra Premier</span></strong>
    <br/>
    <strong>February 9 – February 16: Ultra League & Love Cup - Great League Edition</strong>
    <br/>
    <strong>February 16 – February 23: Master League & <span style="color:brown">Master Premier</span></strong>
    <br/>
    <strong>February 23 – March 1: Master League: Mega Edition & <span style="color:brown">Hoenn Cup - Great League Edition</span></strong>
</div>
<div class="text-center">
	<strong>search by pokemon name, type or number</strong>
	</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="i.e charizard, fire, or 006">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>
    <script src="/js/BattleLeagueSchedule.js"></script>
}
