@{
    ViewData["Title"] = "Home Page";
}


<div class="menu-area text-center stack-top">
    <h1 class="display-4" id="headerText">Choose a League</h1>
    <ul>
        <li>
            <a href="#" id="all">Little League</a>  
             <ul class="dropdown">
                 <li><a href="#" id="mega">Mega LL</a></li>
                 <li><a href="#" id="gobattleleague">Go Battle League LL</a></li>
                 <li><a href="#" id="cliffhanger">Cliffhanger LL</a></li>
                 <li><a href="#" id="championship">Championship Series LL</a></li>
                 @*<li><a href="#" id="premierclassic">Little League Premier Classic</a></li>*@
            </ul>         
        </li>
        <li>
            <a href="#" id="all">Great League</a>
            <ul class="dropdown">
                <li><a href="#" id="fossil">Fossil Cup</a></li>
                @*<li><a href="#" id="river">River Cup</a></li>*@
                <li><a href="#" id="colony">Colony Cup</a></li>
                <li><a href="#" id="alchemy">Alchemy Cup</a></li>
                <li><a href="#" id="forged">Forged Cup</a></li>
                <li><a href="#" id="firefly">Firefly Cup</a></li>
                <li><a href="#" id="kanto">Kanto Cup</a></li>
                <li><a href="#" id="mega">Mega GL</a></li>
                <li><a href="#" id="gobattleleague">Go Battle League GL</a></li>
                <li><a href="#" id="cliffhanger">Cliffhanger GL</a></li>
                <li><a href="#" id="championship">Championship Series GL</a></li>
                @*<li><a href="#" id="love">Love Cup</a></li>*@
                @*<li><a href="#" id="sinnoh">Sinnoh Cup</a></li>*@
                @*<li><a href="#" id="holiday">Holiday Cup</a></li>*@
                <li><a href="#" id="remix">Great League Remix</a></li>
                <li><a href="#" id="premierclassic">Great League Premier Classic</a></li>
                <li>Amelya</li>
                <li>Walter</li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Ultra League</a>
            <ul class="dropdown">
                @*<li><a href="#" id="premier">Ultra League Premier</a></li>   *@  
                <li><a href="#" id="mega">Mega UL</a></li>
                 <li><a href="#" id="gobattleleague">Go Battle League UL</a></li>
                 <li><a href="#" id="cliffhanger">Cliffhanger UL</a></li>
                 <li><a href="#" id="championship">Championship Series UL</a></li>
                <li><a href="#" id="remix">Ultra League Remix</a></li>
                <li><a href="#" id="premierclassic">Ultra League Premier Classic</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Master League</a>
            <ul class="dropdown">
                @*<li><a href="#" id="premier">Master League Premier</a></li>*@
                <li><a href="#" id="classic">Master League Classic</a></li>             
                <li><a href="#" id="premierclassic">Master League Premier Classic</a></li>
                <li><a href="#" id="mega">Mega ML</a></li>
                 <li><a href="#" id="gobattleleague">Go Battle League ML</a></li>
                 <li><a href="#" id="cliffhanger">Cliffhanger ML</a></li>
                 <li><a href="#" id="championship">Championship Series ML</a></li>
            </ul>
        </li>
    </ul>
</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="Search for Pokemon..">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>    
}
