@{
    ViewData["Title"] = "Home Page";
}


<div class="menu-area text-center stack-top">
    <h1 class="display-4" id="headerText">Choose a League</h1>
    <ul>
        <li>
            <a href="#" id="all">Little League</a>  
             <ul class="dropdown">
                <li><a href="#" id="littlejungleremix">Little Jungle Cup Remix</a></li>
                 @*<li><a href="#" id="mega">Mega LL</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League LL</a></li>*@
                 @*<li><a href="#" id="cliffhanger">CliffHanger LL</a></li>*@
                 @*<li><a href="#" id="championship">Championship Series LL</a></li>*@
                 @*<li><a href="#" id="littleremix">Little Cup Remix</a></li>*@
                 @*<li><a href="#" id="element">Element Cup</a></li>*@
                 @*<li><a href="#" id="premierclassic">Little League Premier Classic</a></li>*@
            </ul>         
        </li>
        <li>
            <a href="#" id="all">Great League</a>
            <ul class="dropdown">
                <li><a href="#" id="evolution">Evolution Cup</a></li>
                <li><a href="#" id="psychic">Psychic Cup</a></li>
                <li><a href="#" id="retro">Retro Cup</a></li>
                <li><a href="#" id="remix">Great League Remix</a></li>
                @*<li><a href="#" id="championship">Championship Series GL</a></li>*@
                @*<li><a href="#" id="cliffhanger">CliffHanger GL</a></li>*@
                @*<li><a href="#" id="mega">Mega GL</a></li>*@
                @*<li><a href="#" id="hisui">Hisui Cup</a></li>*@
                @*<li><a href="#" id="premierclassic">Great League Premier Classic</a></li>*@
                @*<li><a href="#" id="kanto">Kanto Cup</a></li>*@
                @*<li><a href="#" id="summer">Summer Cup</a></li>
                <li><a href="#" id="fighting">Fighting Cup</a></li>*@
                @*<li><a href="#" id="flying">Flying Cup</a></li>*@
                @*<li><a href="#" id="fossil">Fossil Cup</a></li>*@
                @*<li><a href="#" id="river">River Cup</a></li>*@
                @*<li><a href="#" id="colony">Colony Cup</a></li>*@
                @*<li><a href="#" id="alchemy">Alchemy Cup</a></li>*@
                @*<li><a href="#" id="forged">Forged Cup</a></li>*@
                @*<li><a href="#" id="firefly">Firefly Cup</a></li>*@
                @*<li><a href="#" id="gobattleleague">Go Battle League GL</a></li>*@
                @*<li><a href="#" id="love">Love Cup</a></li>*@
                @*<li><a href="#" id="sinnoh">Sinnoh Cup</a></li>*@
                @*<li><a href="#" id="holiday">Holiday Cup</a></li>*@
                <li>Amelya</li>
                <li>Walter</li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Ultra League</a>
            <ul class="dropdown">
                <li><a href="#" id="weather">Weather Cup</a></li>
                <li><a href="#" id="remix">Ultra League Remix</a></li>
                 <li><a href="#" id="cliffhanger">CliffHanger UL</a></li>
                 <li><a href="#" id="championship">Championship Series UL</a></li>
                @*<li><a href="#" id="premier">Ultra League Premier</a></li>   *@  
                @*<li><a href="#" id="mega">Mega UL</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League UL</a></li>*@
                @*<li><a href="#" id="premierclassic">Ultra League Premier Classic</a></li>*@
            </ul>
        </li>
        <li>
            <a href="#" id="all">Master League</a>
            <ul class="dropdown">
                <li><a href="#" id="premierclassic">Master Premier Classic</a></li>
                <li><a href="#" id="mega">Mega ML</a></li>
                <li><a href="#" id="classic">Master League Classic</a></li>             
                 @*<li><a href="#" id="cliffhanger">CliffHanger ML</a></li>*@
                 @*<li><a href="#" id="championship">Championship Series ML</a></li>*@
                @*<li><a href="#" id="premier">Master League Premier</a></li>*@
                 @*<li><a href="#" id="gobattleleague">Go Battle League ML</a></li>*@
            </ul>
        </li>
    </ul>
</div>
<div class="GoBattleLeagueSeasonDetails text-center"">
    <input type="button" id="BattleLeagueSeasonDetails" class="btn btn-outline-dark btn-sm showBattleLeagueSchedule" value="See Go Battle League Season 12 Schedule" />
</div>

@*<a href="#" id="GFG" class="shinyButton Gold"><span>Shiny Button</span></a>*@
<div id="openBattleLeagueSeasonDetails" style="display: none;">
    <strong>Pokemon Go Battle League Season 12: </strong>
    <br/>
    <br/>
    <strong>September 1 – September 8: Great League & <span style="color:brown">Little Jungle Cup Remix</span></strong>
    <br />
    <strong>September 8 – September 15: Great League & <span style="color:brown">Psychic Cup</span></strong>
    <br/>
    <strong>September 15 – September 22: Ultra League & <span style="color:brown">Weather  Cup</span></strong>
    <br/>
    <strong>September 22 – September 29: Ultra League & Ultra Premier Classic</strong>
    <br />
    <strong>September 29 – October 6: Master League & Master Premiere Classic</strong>
    <br/>
    <strong>October 6 – October 13: Master League & <span style="color:brown">Evolution Cup</span></strong>
    <br/>
    <strong>October 13 – October 20: Great League & Ultra League & Master League</strong>
    <br/>
    <strong>October 20 – October 27: Great League & <span style="color:brown">Halloween Cup</span></strong>
    <br/>
    <strong>October 27 – November 3: Great League & <span style="color:brown">Halloween Cup: Ultra League Edition</span></strong>
    <br/>
    <strong>November 3 – November 10: Ultra League & <span style="color:brown">Willpower Cup</span></strong>
    <br/>
    <strong>November 10 – November 17: Ultra League & Ultra Premiere</strong>
    <br/>
    <strong>November 17 – November 24: Master League & <span style="color:brown">Element Cup Remix</span></strong>
    <br/>
    <strong>November 24 – December 1: Master League & <span style="color:brown">Catch Cup: Season of Light Edition</span></strong>
</div>
<div class="text-center">
	<strong>search by pokemon name, type or number</strong>
	</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="i.e charizard, fire, or 006">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>
    <script src="/js/BattleLeagueSchedule.js"></script>
}
