@{
    ViewData["Title"] = "Home Page";
}


<div class="menu-area text-center stack-top">
    <h1 class="display-4" id="headerText">Choose a League</h1>
    <ul>
        <li>
            <a href="#" id="all">Little League</a>  
             <ul class="dropdown">
                 <li><a href="#" id="premierclassic">Little League Premier Classic</a></li>
            </ul>          
        </li>
        <li>
            <a href="#" id="all">Great League</a>
            <ul class="dropdown">
                <li><a href="#" id="remix">Great League Remix</a></li>
                <li><a href="#" id="kanto">Kanto</a></li>
                <li><a href="#" id="holiday">Holiday</a></li>
                <li><a href="#" id="premierclassic">Great League Premier Classic</a></li>
                <li>Amelya</li>
                <li>Walter</li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Ultra League</a>
            <ul class="dropdown">
                <li><a href="#" id="premier">Ultra League Premier</a></li>             
                <li><a href="#" id="remix">Ultra League Remix</a></li>
                <li><a href="#" id="premierclassic">Ultra League Premier Classic</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Master League</a>
            <ul class="dropdown">
                <li><a href="#" id="premier">Master League Premier</a></li>
                <li><a href="#" id="classic">Master League Classic</a></li>             
                <li><a href="#" id="premierclassic">Master League Premier Classic</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="MainBox"></div>

@section Scripts {
    <script src="/js/MainBox.js"></script>    
}
