@{
    ViewData["Title"] = "Home Page";
}

<ul id="NavMenu" class="menu-area nav navbar navbar-expand-sm navbar-toggleable-sm bg-transparent justify-content-center">
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-info" id="all">Little League</a>
            <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-info">
            <a href="#" class="dropdown-item" id="remix">Remix: Little League Edition</a>
                <a href="#" class="dropdown-item" id="premierclassic">Premier Classic: Little League Edition</a>
            @*<a href="#" class="dropdown-item" id="littlejungleremix">Little Jungle Cup Remix</a>*@
            @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup</a>*@
            @*<a href="#" class="dropdown-item" id="mega">Little League: Mega Edition</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League LL</a>*@
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger LL</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series LL</a>*@
            @*<a href="#" class="dropdown-item" id="element">Element Cup</a>*@
        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
        <a href="#" class="btn btn-success" id="all">Great League</a>
        <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-success">
            <a href="#" class="dropdown-item" id="color">Color Cup: Great League Edition</a>
            <a class="dropdown-item" href="#" id="psychic">Psychic Cup</a>
            @*<a href="#" class="dropdown-item" id="mountain">Mountain Cup: Great League Edition</a>*@
            @*<a href="#" class="dropdown-item" id="spring">Spring Cup: Great League Edition</a>*@
            @*<a href="#" class="dropdown-item" id="sunshine">Sunshine Cup: Great League Edition</a>*@
            @*<a href="#" class="dropdown-item" id="catch">Catch Cup: Rising Heroes Edition</a>*@
            <a href="#" class="dropdown-item" id="ionic">Ionic Cup</a>
            <a href="#" class="dropdown-item" id="remix">Remix: Great League Edition</a>
            @*<a href="#" class="dropdown-item" id="love">Love Cup</a>*@
            @*<a href="#" class="dropdown-item" id="hoenn">Hoenn Cup</a>*@
            @*<a href="#" class="dropdown-item" id="naiad">Naiad Cup</a>*@
            @*<a class="dropdown-item" href="#" id="electric">Electric Cup</a>*@
            @*<a class="dropdown-item" href="#" id="mega">Great League: Mega Edition</a>*@
            @*<a class="dropdown-item" href="#" id="weather">Weather Cup GL</a>*@
            @*<a class="dropdown-item" href="#" id="willpower">WillPower Cup</a>*@
            @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup GL</a>*@
            @*<a class="dropdown-item" href="#" id="evolution">Evolution Cup</a>*@
            @*<a class="dropdown-item" href="#" id="retro">Retro Cup</a>*@
            @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup</a>*@
            @*<a class="dropdown-item" href="#" id="championship">Championship Series GL</a>*@
            @*<a class="dropdown-item" href="#" id="cliffhanger">CliffHanger GL</a>*@
            @*<a class="dropdown-item" href="#" id="hisui">Hisui Cup</a>*@
            @*<a class="dropdown-item" href="#" id="premierclassic">Great League Premier Classic</a>*@
            @*<a class="dropdown-item" href="#" id="kanto">Kanto Cup</a>*@
            @*<a class="dropdown-item" href="#" id="summer">Summer Cup</a>*@
            @*<a class="dropdown-item" href="#" id="fighting">Fighting Cup</a>*@
            @*<a class="dropdown-item" href="#" id="flying">Flying Cup</a>*@
            @*<a class="dropdown-item" href="#" id="fossil">Fossil Cup</a>*@
            @*<a class="dropdown-item" href="#" id="river">River Cup</a>*@
            @*<a class="dropdown-item" href="#" id="colony">Colony Cup</a>*@
            @*<a class="dropdown-item" href="#" id="alchemy">Alchemy Cup</a>*@
            @*<a class="dropdown-item" href="#" id="forged">Forged Cup</a>*@
            @*<a class="dropdown-item" href="#" id="firefly">Firefly Cup</a>*@
            @*<a class="dropdown-item" href="#" id="gobattleleague">Go Battle League GL</a>*@
            @*<a class="dropdown-item" href="#" id="love">Love Cup</a>*@
            @*<a class="dropdown-item" href="#" id="sinnoh">Sinnoh Cup</a>*@
            @*<a class="dropdown-item" href="#" id="holiday">Holiday Cup</a>*@
            @*<li class="dropdown-item" >Amelya*@
            @*<li class="dropdown-item" >Walter*@
        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-danger" id="all">Ultra League</a>
        <button type="button" class="btn-outline-danger btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-danger">
            <a href="#" class="dropdown-item" id="fantasy">Fantasy Cup: Ultra League Edition</a>
            <a href="#" class="dropdown-item" id="weather">Weather Cup: Ultra League Edition</a>
            <a href="#" class="dropdown-item" id="justicar">Justicar Cup</a>
                <a href="#" class="dropdown-item" id="premier">Premier: Ultra League Edition</a>
            <a href="#" class="dropdown-item" id="remix">Remix: Ultra League Edition</a>
            @*<a href="#" class="dropdown-item" id="classic">Ultra League Classic</a>*@
            @*<a href="#" class="dropdown-item" id="holiday">Ultra League Holiday Cup</a>*@
            @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup UL</a>*@
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger UL</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series UL</a>*@
                @*<a href="#" class="dropdown-item" id="mega">Ultra League: Mega Edition</a>*@
            @*<a href="#" class="dropdown-item" id="premierclassic">Ultra League Premier Classic</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League UL</a>*@

        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-warning" id="all">Master League</a>
            <button type="button" class="btn-outline-warning btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-warning">
            <a href="#" class="dropdown-item" id="mega">Master League: Mega Edition</a>
                <a href="#" class="dropdown-item" id="premier">Premier: Master League Edition</a>
            <a href="#" class="dropdown-item" id="classic">Classic: Master League Edition</a>
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger ML</a>*@
            @*<a href="#" class="dropdown-item" id="premierclassic">Premier Classic: Master League Edition</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series ML</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League ML</a>*@

        </div>
    </div>
    </li>
</ul>

<h1 class="display-4 text-center" id="headerText">Choose a League</h1>

<div class="GoBattleLeagueSeasonDetails text-center"">
    <input type="button" id="BattleLeagueSeasonDetails" class="btn btn-outline-dark btn-sm showBattleLeagueSchedule" value="See Go Battle League Season 14 Schedule" />
</div>

@*<a href="#" id="GFG" class="shinyButton snow"><span>Shiny Button</span></a>*@
<div id="openBattleLeagueSeasonDetails" style="display: none;">
    <strong>Pokemon Go Battle League Season 14: Rising Heroes</strong>
    <br/>
    <br/>
    <strong>March 1 – March 8: Great League & <span style="color:brown">Fantasy Cup: Ultra Cup League Edition</span></strong>
    <br />
    <strong>March 8 – March 15: Great League & <span style="color:brown">Color Cup: Great League Edition</span></strong>
    <br/>
    <strong>March 15 – March 22: Ultra League & <span style="color:brown">Psychic Cup: Great League Edition</span></strong>
    <br/>
    <strong>March 22 – March 29: Ultra League & Mountain Cup: Great League Edition </strong>
    <br />
    <strong><span style="color:snow">Go Battle Day: Palmer - Saturday, 25th March</span></strong>
    <br/>
    <strong>March 29 – April 5: Master League  & Little Cup</strong>
    <br/>
    <strong>April 5 – April 12: Master League & <span style="color:brown">Spring Cup: Great League Edition</span> </strong>
    <br/>
    <strong>April 12 – April 19: Great League & Ultra League & Master League & Evolution Cup: Great League Edition</strong>
    <br/>
    <strong>April 19 – April 26: Great League & <span style="color:brown"> Weather Cup: Ultra League Edition</span></strong>
    <br/>
    <strong>April 26 – May 3: Great League & <span style="color:brown">Master Premier</span></strong>
    <br/>
    <strong>May 3 – May 10: Ultra League & <span style="color:brown">Little Cup</span></strong>
    <br/>
    <strong>May 10 – May 17: Ultra League & Sunshine Cup: Great League Edition</strong>
    <br/>
    <strong><span style="color:snow">Go Battle Day: Stardust - Sunday, 14th May</span></strong>
    <br/>
    <strong>May 17 – May 24: Master League & <span style="color:brown">Element Cup: Little Edition</span></strong>
    <br/>
    <strong>May 24 – June 1: Master League & <span style="color:brown"> Catch Cup: Rising Heroes Edition</span></strong>
</div>
<div class="text-center">
	<strong>search by pokemon name, type or number</strong>
	</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="i.e charizard, fire, or 006">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>
    <script src="/js/BattleLeagueSchedule.js"></script>
}
