@{
    ViewData["Title"] = "Home Page";
}

<ul id="NavMenu" class="menu-area nav navbar navbar-expand-sm navbar-toggleable-sm bg-transparent justify-content-center">
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-info" id="all">Little League</a>
            <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-info">
            <a href="#" class="dropdown-item" id="remix">Little Cup Remix</a>
            <a href="#" class="dropdown-item" id="premierclassic">Little League Premier Classic</a>
            @*<a href="#" class="dropdown-item" id="littlejungleremix">Little Jungle Cup Remix</a>*@
            @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup</a>*@
            @*<a href="#" class="dropdown-item" id="mega">Mega LL</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League LL</a>*@
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger LL</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series LL</a>*@
            @*<a href="#" class="dropdown-item" id="element">Element Cup</a>*@
        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
        <a href="#" class="btn btn-success" id="all">Great League</a>
        <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-success">
            <a href="#" class="dropdown-item" id="hoenn">Hoenn Cup</a>
            <a href="#" class="dropdown-item" id="love">Love Cup</a>
            <a href="#" class="dropdown-item" id="remix">Great League Remix</a>
            @*<a class="dropdown-item" href="#" id="electric">Electric Cup</a>*@
            @*<a class="dropdown-item" href="#" id="mega">Mega GL</a>*@
            @*<a class="dropdown-item" href="#" id="weather">Weather Cup GL</a>*@
            @*<a class="dropdown-item" href="#" id="willpower">WillPower Cup</a>*@
            @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup GL</a>*@
            @*<a class="dropdown-item" href="#" id="psychic">Psychic Cup</a>*@
            @*<a class="dropdown-item" href="#" id="evolution">Evolution Cup</a>*@
            @*<a class="dropdown-item" href="#" id="retro">Retro Cup</a>*@
            @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup</a>*@
            @*<a class="dropdown-item" href="#" id="championship">Championship Series GL</a>*@
            @*<a class="dropdown-item" href="#" id="cliffhanger">CliffHanger GL</a>*@
            @*<a class="dropdown-item" href="#" id="hisui">Hisui Cup</a>*@
            @*<a class="dropdown-item" href="#" id="premierclassic">Great League Premier Classic</a>*@
            @*<a class="dropdown-item" href="#" id="kanto">Kanto Cup</a>*@
            @*<a class="dropdown-item" href="#" id="summer">Summer Cup</a>*@
            @*<a class="dropdown-item" href="#" id="fighting">Fighting Cup</a>*@
            @*<a class="dropdown-item" href="#" id="flying">Flying Cup</a>*@
            @*<a class="dropdown-item" href="#" id="fossil">Fossil Cup</a>*@
            @*<a class="dropdown-item" href="#" id="river">River Cup</a>*@
            @*<a class="dropdown-item" href="#" id="colony">Colony Cup</a>*@
            @*<a class="dropdown-item" href="#" id="alchemy">Alchemy Cup</a>*@
            @*<a class="dropdown-item" href="#" id="forged">Forged Cup</a>*@
            @*<a class="dropdown-item" href="#" id="firefly">Firefly Cup</a>*@
            @*<a class="dropdown-item" href="#" id="gobattleleague">Go Battle League GL</a>*@
            @*<a class="dropdown-item" href="#" id="love">Love Cup</a>*@
            @*<a class="dropdown-item" href="#" id="sinnoh">Sinnoh Cup</a>*@
            @*<a class="dropdown-item" href="#" id="holiday">Holiday Cup</a>*@
            @*<li class="dropdown-item" >Amelya*@
            @*<li class="dropdown-item" >Walter*@
        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-danger" id="all">Ultra League</a>
        <button type="button" class="btn-outline-danger btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-danger">
            <a href="#" class="dropdown-item" id="premier">Ultra League Premier</a>
            <a href="#" class="dropdown-item" id="remix">Ultra League Remix</a>
            @*<a href="#" class="dropdown-item" id="classic">Ultra League Classic</a>*@
            @*<a href="#" class="dropdown-item" id="holiday">Ultra League Holiday Cup</a>*@
            @*<a href="#" class="dropdown-item" id="weather">Weather Cup UL</a>*@
            @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup UL</a>*@
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger UL</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series UL</a>*@
            @*<a href="#" class="dropdown-item" id="mega">Mega UL</a>*@
            @*<a href="#" class="dropdown-item" id="premierclassic">Ultra League Premier Classic</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League UL</a>*@

        </div>
    </div>
    </li>
    <li>
    <div class="btn-group">
            <a href="#" class="btn btn-warning" id="all">Master League</a>
            <button type="button" class="btn-outline-warning btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-warning">
            <a href="#" class="dropdown-item" id="premier">Master League Premier</a>
            <a href="#" class="dropdown-item" id="mega">Mega ML</a>
            <a href="#" class="dropdown-item" id="classic">Master League Classic</a>
            @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger ML</a>*@
            @*<a href="#" class="dropdown-item" id="premierclassic">Master Premier Classic</a>*@
            @*<a href="#" class="dropdown-item" id="championship">Championship Series ML</a>*@
            @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League ML</a>*@

        </div>
    </div>
    </li>
</ul>

<h1 class="display-4 text-center" id="headerText">Choose a League</h1>

<div class="GoBattleLeagueSeasonDetails text-center"">
    <input type="button" id="BattleLeagueSeasonDetails" class="btn btn-outline-dark btn-sm showBattleLeagueSchedule" value="See Go Battle League Season 13 Schedule" />
</div>

@*<a href="#" id="GFG" class="shinyButton snow"><span>Shiny Button</span></a>*@
<div id="openBattleLeagueSeasonDetails" style="display: none;">
    <strong>Pokemon Go Battle League Season 13: Mythical Wishes</strong>
    <br/>
    <br/>
    <strong>December 1 – December 8: Great League & <span style="color:brown">Great League Remix</span></strong>
    <br />
    <strong>December 8 – December 15: Great League & <span style="color:brown">Fighting Cup: Great League Edition Remix</span></strong>
    <br/>
    <strong>December 15 – December 22: Ultra League & <span style="color:brown">Ultra Premier Classic</span></strong>
    <br/>
    <strong>December 22 – December 29: Ultra League & Holiday Cup - Great League Edition</strong>
    <br />
    <strong>December 29 – January 5: Master League <span style="color:snow">(3x Stardust from win rewards)</span>  & Holiday Cup - Ultra League Edition <span style="color:snow">(3x Stardust from win rewards)</span> </strong>
    <br/>
    <strong>January 5 – January 12: Master League <span style="color:snow">(3x Stardust from win rewards)</span>  & <span style="color:brown">Master Premier Classic </span> <span style="color:snow">(3x Stardust from win rewards)</span> </strong>
    <br/>
    <strong>January 12 – January 19: Great League & Ultra League & Master League</strong>
    <br/>
    <strong>January 19 – January 26: Great League & <span style="color:brown">Weather Cup - Great League Edition</span></strong>
    <br/>
    <strong>January 26 – February 2: Great League & <span style="color:brown">Electric Cup - Great League Edition</span></strong>
    <br/>
    <strong>February 2 – February 9: Ultra League & <span style="color:brown">Ultra Premier</span></strong>
    <br/>
    <strong>February 9 – February 16: Ultra League & Love Cup - Great League Edition</strong>
    <br/>
    <strong>February 16 – February 23: Master League <span style="color:snow">(3x Stardust from win rewards)</span>  & <span style="color:brown">Master Premier</span> <span style="color:snow">(3x Stardust from win rewards)</span> </strong>
    <br/>
    <strong>February 23 – March 1: Master League: Mega Edition <span style="color:snow">(3x Stardust from win rewards)</span>  & <span style="color:brown">Hoenn Cup - Great League Edition</span> <span style="color:snow">(3x Stardust from win rewards)</span> </strong>
</div>
<div class="text-center">
	<strong>search by pokemon name, type or number</strong>
	</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="i.e charizard, fire, or 006">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>
    <script src="/js/BattleLeagueSchedule.js"></script>
}
