@{
    ViewData["Title"] = "Home Page";
}


<div class="menu-area text-center stack-top">
    <h1 class="display-4" id="headerText">Choose a League</h1>
    <ul>
        <li>
            <a href="#" id="all">Little League</a>  
             <ul class="dropdown">
                 <li><a href="#" id="element">Element Cup</a></li>
                 <li><a href="#" id="littleremix">Little Cup Remix</a></li>
                 <li><a href="#" id="mega">Mega LL</a></li>
                 <li><a href="#" id="gobattleleague">Go Battle League LL</a></li>@*
                 *@<li><a href="#" id="cliffhanger">CliffHanger LL</a></li>
                 <li><a href="#" id="championship">Championship Series LL</a></li>
                 @*<li><a href="#" id="premierclassic">Little League Premier Classic</a></li>*@
            </ul>         
        </li>
        <li>
            <a href="#" id="all">Great League</a>
            <ul class="dropdown">
                <li><a href="#" id="summer">Summer Cup</a></li>
                <li><a href="#" id="fighting">Fighting Cup</a></li>
                <li><a href="#" id="hisui">Hisui Cup</a></li>
                <li><a href="#" id="kanto">Kanto Cup</a></li>
                <li><a href="#" id="retro">Retro Cup</a></li>
                <li><a href="#" id="remix">Great League Remix</a></li>
                <li><a href="#" id="championship">Championship Series GL</a></li>
                <li><a href="#" id="cliffhanger">CliffHanger GL</a></li>
                <li><a href="#" id="premierclassic">Great League Premier Classic</a></li>
                <li><a href="#" id="mega">Mega GL</a></li>
                @*<li><a href="#" id="flying">Flying Cup</a></li>*@
                @*<li><a href="#" id="fossil">Fossil Cup</a></li>*@
                @*<li><a href="#" id="river">River Cup</a></li>*@
                @*<li><a href="#" id="colony">Colony Cup</a></li>*@
                @*<li><a href="#" id="alchemy">Alchemy Cup</a></li>*@
                @*<li><a href="#" id="forged">Forged Cup</a></li>*@
                @*<li><a href="#" id="firefly">Firefly Cup</a></li>*@
                @*<li><a href="#" id="gobattleleague">Go Battle League GL</a></li>*@
                @*<li><a href="#" id="love">Love Cup</a></li>*@
                @*<li><a href="#" id="sinnoh">Sinnoh Cup</a></li>*@
                @*<li><a href="#" id="holiday">Holiday Cup</a></li>*@
                <li>Amelya</li>
                <li>Walter</li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Ultra League</a>
            <ul class="dropdown">
                @*<li><a href="#" id="premier">Ultra League Premier</a></li>   *@  
                @*<li><a href="#" id="mega">Mega UL</a></li>*@
                 <li><a href="#" id="championship">Championship Series UL</a></li>
                 <li><a href="#" id="gobattleleague">Go Battle League UL</a></li>
                 <li><a href="#" id="cliffhanger">CliffHanger UL</a></li>
                <li><a href="#" id="remix">Ultra League Remix</a></li>
                <li><a href="#" id="premierclassic">Ultra League Premier Classic</a></li>
            </ul>
        </li>
        <li>
            <a href="#" id="all">Master League</a>
            <ul class="dropdown">
                <li><a href="#" id="mega">Mega ML</a></li>
                 <li><a href="#" id="championship">Championship Series ML</a></li>
                @*<li><a href="#" id="premier">Master League Premier</a></li>*@
                <li><a href="#" id="classic">Master League Classic</a></li>             
                <li><a href="#" id="premierclassic">Master League Premier Classic</a></li>
                 @*<li><a href="#" id="gobattleleague">Go Battle League ML</a></li>*@
                 <li><a href="#" id="cliffhanger">CliffHanger ML</a></li>
            </ul>
        </li>
    </ul>
</div>
<input type="button" id="BattleLeagueSeasonDetails" class="btn btn-outline-dark btn-sm showBattleLeagueSchedule" value="See Go Battle League Season 11 Schedule" />
@*<a href="#" id="GFG" class="shinyButton Gold"><span>Shiny Button</span></a>*@
<div id="openBattleLeagueSeasonDetails" style="display: none;">
    <strong>Pokemon Go Battle League Season 11: </strong>
    <br/>
    <br/>
    <strong>June 1 – June 8: Great League & Great League Remix</strong>
    <br />
    <strong>June 8 – June 15: Ultra League & <span style="color:brown">Catch Cup (Go Fest Edition)</span></strong>
    <br/>
    <strong>June 15 – June 22: Master League & <span style="color:brown">Fossil Cup</span></strong>
    <br/>
    <strong>June 22 – June 29: Great League & <span style="color:brown">Retro Cup</span></strong>
    <br />
    <strong>June 29 – July 6: Ultra League & <span style="color:brown">Kanto Cup</span></strong>
    <br/>
    <strong>July 6 – July 13: Great League, Ultra League & Master League</strong>
    <br/>
    <strong>July 13 – July 20: Great League & <span style="color:brown">Flying Cup</span></strong>
    <br/>
    <strong>July 20 – July 27: Ultra League & <span style="color:brown">Little Cup Remix</span></strong>
    <br/>
    <strong>July 27 – August 3: Master League & <span style="color:brown">Hisui Cup</span></strong>
    <br/>
    <strong>August 3 – August 10: Great League & <span style="color:brown">Element Cup</span></strong>
    <br/>
    <strong>August 10 – August 17: Ultra League & <span style="color:brown">Summer Cup</span></strong>
    <br/>
    <strong>August 17 – August 24: Great League & <span style="color:brown">Fighting Cup</span></strong>
    <br/>
    <strong>August 24 – September 1: Great League, Ultra League & Master League</strong>
</div>
<div class="text-center">
	<strong>search by pokemon name, type or number</strong>
	</div>
@*<div class="shinyBtn">Shiny</div>*@
<div class="pokemon-search-bar text-center">
		<input type="text" id="myInput" onkeyup="SearchFunction()" placeholder="i.e charizard, fire, or 006">
	</div>

<div class="MainBox">
    <ul id="myUL">

    </ul>
</div>

@section Scripts {
    <script src="/js/MainBox.js"></script>
    <script src="/js/BattleLeagueSchedule.js"></script>
}
