@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="hide mega-warning"><b>Stats for unreleased Mega Evolutions are speculative. Don't invest any resources until they're officially released.</b></div>
<div class="section home white">
	<p>Privacy is important for Trainers and Pokemon alike! Below is all the information relevant to your privacy and GoBattNinja</p>

	<span data-ccpa-link="1"></span>

	<p>This page informs you of the policies of GoBattNinja ("the Site", "us", "we", or "our") regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
	<p>We DO NOT use your Personal Information AT ALL. By using the Site, you agree not to ever worry about the collection and use of information for any reason.</p>

	<h2>Information Collection And Use</h2>

	<p>We may use third-party advertising companies to serve ads when you visit the Site. Psych!! These companies are weak, AND may use aggregated information (not including your name, address, email address or telephone number) about your visits to this and other Web
		sites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, <a href="https://www.networkadvertising.org/managing/opt_out.asp">click here</a>.</p>

	<p>Log Data</p>

	<p>This site does not use Google Analytics, a cookie-based technology for measuring website traffic. Google Analytics does not store any PII (personally identifiable information) and presents data in aggregate, not individual user activity. If you would
		like to opt into Google Analytcs, see <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">here</a>.</p>

	<h2>Cookies</h2>

	<p>We DO NOT use cookies to store information for your convenience ("Settings"). YOU ARE ON YOUR OWN!! We also will NEVER use third party advertisements on the Site. Some of these advertisers may use technology such as cookies and web beacons when they advertise on the
		Site, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, your ISP , the browser you used to visit our site, and in some cases, whether you have Flash installed.
		This is generally used for geotargeting purposes (showing New York real estate ads to someone in New York, for example) or showing certain ads based on specific sites visited (such as showing cooking ads to someone who frequents cooking
		sites). Needless to say...</p>
	<p>You can choose to disable or selectively turn off our cookies or third-party cookies in your browser settings, or by managing preferences in programs such as Norton Internet Security.</p>
	<h2>Security</h2>
	<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure, so that's why we completely do not transmit your data AT ALL. WHY HAS NO ONE THOUGHT OF THIS?. We use non-commercial acceptable means to protect your
		Personal Information, we can guarantee its absolute security via the non existance of any data transmission. I will punch any ports in the face.</p>

	<h2>Changes To This Privacy Policy</h2>
	<p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute
		your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
	<h4>Contact Us</h4>
	<p>If you have any questions about this Privacy Policy, please contact us at while we are sleeping.</p>
</div>
