<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoBattleLeagueTeamBuilder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <ul class="menu-area nav nav-tabs navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-transparent border-bottom box-shadow justify-content-center">
            <div class="btn-group">
              <a href="#" class="btn btn-secondary" id="all">Little League</a>
                <button type="button" class="btn-dark btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
                <div class="dropdown-menu bg-dark">
                 @*<a href="#" class="dropdown-item" id="littlejungleremix">Little Jungle Cup Remix</a>*@
                 @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup</a>*@
                 @*<a href="#" class="dropdown-item" id="mega">Mega LL</a>*@
                 @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League LL</a>*@
                 @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger LL</a>*@
                 @*<a href="#" class="dropdown-item" id="championship">Championship Series LL</a>*@
                 @*<a href="#" class="dropdown-item" id="littleremix">Little Cup Remix</a>*@
                 @*<a href="#" class="dropdown-item" id="element">Element Cup</a>*@
                 <a href="#" class="dropdown-item"  id="premierclassic">Little League Premier Classic</a>
              </div>
            </div>

            <div class="btn-group">
              <a href="#" class="btn btn-secondary" id="all">Great League</a>
              <button type="button" class="btn-dark btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
                <div class="dropdown-menu bg-dark">
                    <a href="#" class="dropdown-item" id="hoenn">Hoenn Cup</a>
                    <a href="#" class="dropdown-item" id="love">Love Cup</a>
                    <a href="#" class="dropdown-item" id="remix">Great League Remix</a>
                    @*<a class="dropdown-item" href="#" id="electric">Electric Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="mega">Mega GL</a>*@
                    @*<a class="dropdown-item" href="#" id="weather">Weather Cup GL</a>*@
                    @*<a class="dropdown-item" href="#" id="willpower">WillPower Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup GL</a>*@
                    @*<a class="dropdown-item" href="#" id="psychic">Psychic Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="evolution">Evolution Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="retro">Retro Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="halloween">Halloween Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="championship">Championship Series GL</a>*@
                    @*<a class="dropdown-item" href="#" id="cliffhanger">CliffHanger GL</a>*@
                    @*<a class="dropdown-item" href="#" id="hisui">Hisui Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="premierclassic">Great League Premier Classic</a>*@
                    @*<a class="dropdown-item" href="#" id="kanto">Kanto Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="summer">Summer Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="fighting">Fighting Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="flying">Flying Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="fossil">Fossil Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="river">River Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="colony">Colony Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="alchemy">Alchemy Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="forged">Forged Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="firefly">Firefly Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="gobattleleague">Go Battle League GL</a>*@
                    @*<a class="dropdown-item" href="#" id="love">Love Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="sinnoh">Sinnoh Cup</a>*@
                    @*<a class="dropdown-item" href="#" id="holiday">Holiday Cup</a>*@
                    @*<li class="dropdown-item" >Amelya*@
                    @*<li class="dropdown-item" >Walter*@
              </div>
            </div>

            <div class="btn-group">
                <a href="#" class="btn btn-secondary" id="all">Ultra League</a>
                <button type="button" class="btn-dark btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu bg-dark">
                     <a href="#" id="premier">Ultra League Premier</a>  
                     <a href="#" id="remix">Ultra League Remix</a>
                     @*<a href="#" class="dropdown-item" id="holiday">Ultra League Holiday Cup</a>*@
                     @*<a href="#" class="dropdown-item" id="weather">Weather Cup UL</a>*@
                     @*<a href="#" class="dropdown-item" id="halloween">Halloween Cup UL</a>*@
                     @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger UL</a>*@
                     @*<a href="#" class="dropdown-item" id="championship">Championship Series UL</a>*@
                     @*<a href="#" class="dropdown-item" id="mega">Mega UL</a>*@
                     @*<a href="#" class="dropdown-item" id="premierclassic">Ultra League Premier Classic</a>*@
                     @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League UL</a>*@
                </div>
            </div>

            <div class="btn-group">
                <a href="#" class="btn btn-secondary" id="all">Master League</a>
                <button type="button" class="btn-dark btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu bg-dark">
                   <a href="#" class="dropdown-item" id="premier">Master League Premier</a>
                   <a href="#" class="dropdown-item" id="mega">Mega ML</a>
                   <a href="#" class="dropdown-item" id="classic">Master League Classic</a>            
                   @*<a href="#" class="dropdown-item" id="cliffhanger">CliffHanger ML</a>*@
                   @*<a href="#" class="dropdown-item" id="premierclassic">Master Premier Classic</a>*@
                   @*<a href="#" class="dropdown-item" id="championship">Championship Series ML</a>*@
                   @*<a href="#" class="dropdown-item" id="gobattleleague">Go Battle League ML</a>*@

                </div>
            </div>

        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GoBattleLeagueTeamBuilder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
