/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding: 0;
    background-image: url('../images/BackgroudnPoGoBattle.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#headerText {
    font-weight: bold;
    color: #000;
}

.dropdown-menu {
    min-width: inherit;
}

.MainBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: #6F4E37;
    padding: 5px;
    margin: auto;
}


.MainBox .MainBoxUL {
    width: 265px;
    height: 265px;
    margin: 3px;
    border-style: dashed;
    border-width: 4px;
    border-color: #D27D2D;
    background-color: #6F4E37;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.MainBox ul li .title{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
}

.menu-area a:link, a:visited {
    text-decoration: none;
    color: white;
}

.PokemonImage {
    position: absolute;
    top:70px;
    width: 45%;
    height: 45%;
    display: block;
    object-fit: contain;
    overflow: hidden;
}

.ShadowOrPurified {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 14%;
    height: 14%
}

.stack-top {
    z-index: 9;
}

.XLDiv {
    position: absolute;
    top: 8px;
    right: 36px;
    width: 15%;
    height: 9%
}

.BestBuddy {
    position: absolute;
    top: 2px;
    right: 76px;
    width: 13%;
    height: 13%
}

.BestIVDiv {
    position: absolute;
    bottom: 0px;
    margin: auto;
    font-size: 16px;
    color: #FFFF00;
}

.countDiv {
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFDD0;
}

.IVStyle {
    font-weight: bold;
    color: #00FF00;
}

.LegacyMoveStyle {
    font-weight: bold;
    color: #FFD700;
}

.pokemon-search-bar {
    margin-bottom: 15px;
}

.MainBox ul {
    list-style: none;
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.MainBox ul li {
    display: inline-block;
    margin-right: 0px;
}

.PokemonNameDiv {
    position: absolute;
    top: 35px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.PokemonTypeDiv1 {
    position: absolute;
    top: 60px;
    left: 5px;
    width: 9%;
    height: 9%
}
.PokemonTypeDiv2 {
    position: absolute;
    top: 90px;
    left: 5px;
    width: 9%;
    height: 9%
}
.PokemonMoveDiv1 {
    position: absolute;
    top: 185px;
    line-height: 20px;
    color: white;
    font-size: 14px;
}
.PokemonMoveDiv2 {
    position: absolute;
    top: 200px;
    line-height: 20px;
    color: white;
    font-size: 14px;
}
.PokemonMoveDiv3 {
    position: absolute;
    top: 215px;
    line-height: 20px;
    color: white;
    font-size: 14px;
}


#openBattleLeagueSeasonDetails {
    margin-top: -20px;
    height: 408px;
    width: 1110px;
    background-color: #ADD0E0;
    padding-left: 15px;
}
.GoBattleLeagueSeasonDetails {
    margin: 20px 0px 30px 0px;
}
